/*网页主体，颜色浅蓝*/
body {
    background-color:        rgb(115, 172, 219);
    margin:                  0;
}

/*公共类，用来存放内容*/
div.inner {
    width:                   1000px;
    margin-left:             auto;
    margin-right:            auto;
}

/*页眉*/
header {
    height:                  80px;
    background:              url(../images/headerlogo.png) no-repeat center ;
}

/*导航区*/
nav {
    height:                   27px;
    background-color:         rgb(40, 107, 161);
}

/*设置导航栏横向排列*/
nav ul {
    list-style-type:          none;
}

/*去除导航栏标号点*/
nav ul li {
    display:                  inline;
}

/*去除导航栏下划线、设置导航栏间隔*/
nav ul li a {
    text-decoration:          none;
    margin-right:             78px;
    margin-left:              78px;
    color:                    black;
}

/*设置导航栏内字体样式*/
nav ul li a input {
    font-family:              华文楷体;
    font-size:                large;
    font-weight:              bolder;
    background-color:         rgb(56, 150, 186);
}

 /*按钮悬停效果*/
nav ul li a input:hover {
    transform:                translateY(-5px);
    box-shadow:               0 7px 15px rgba(0, 0, 0, 0.3);
}

/*页面——首页：内容区container_1*/
div#container_1 {
    height:                   400px;
    background:               rgb(115, 172, 219);
    padding-top:              25px;
}

/*内容区container_1的分区cont_1_1，采用浮动布局*/
div#container_1 div.inner div#cont_1_1  {
    height:                   350px;
    width:                    344px;
    float:                    left;
    background:               url(../images/zhongj-bg.jpg);
}

/*分区cont_1_1内部浮动图片——个人头像*/
section#photo_1  {
    height:                   282px;
    width:                    200px;
    float:                    left;
    background:               url(../images/container_1_1.jpg);
    margin-left:              77px;
    margin-top:               30px;
}

/*container_1的分区cont_1_2，采用浮动布局*/
div#container_1 div.inner div#cont_1_2  {
    height:                   350px;
    width:                    656px;
    float:                    right;
    background:               #f1efe3;
}

/*页面——首页：内容区container_2，底部线条分割内容区与页脚*/
div#container_2 {
    height:                   450px;
    background:               url(../images/container_2.jpg) no-repeat center center;
    border-bottom:            6px solid #0a4223;
}

/*公共类inner，用于存放内容*/
div#container_2 div.inner {
    height:                   60px;
}

/*container_2的分区con_2_1，浮动布局*/
div#container_2 div.inner div#con_2_1 {
    width:                    320px;
    height:                   350px;
    background-color:         #f1efe3;
    float:                    left;
    margin-top:               60px;
}

/*浮动在分区con_2_1内的图片——中南财经政法大学文波钟楼*/
section#photo_2 {
    height:                   200px;
    width:                    133px;
    float:                    left;
    background:               url(../images/myshcool.jpg);
    margin-left:              10px;
    margin-top:               10px;
}

/*浮动在分区con_2_1内的图片——中南财经政法大学校园地图*/
section#photo_3 {
    height:                   200px;
    width:                    150px;
    float:                    left;
    background:               url(../images/map.jpg);
    margin-left:              15px;
    margin-top:               10px;
}

/*分区con_2_1内的区域con_2_1_1*/
div#container_2 div.inner div#con_2_1 div#con_2_1_1 {
    height:                   130px;
    width:                    320px;
    margin-top:               220px;
}

/*盒模型布局，存放文字内容——中南财经政法大学简介*/
section#box {
    border-color:             white;
    border-width:             1px;
    border-style:             dashed;
    background-color:         #a7cece;
    padding:                  2px;
    margin:                   10px;
    font-size:                small;
}

/*container_2的分区con_2_2,浮动布局*/
div#container_2 div.inner div#con_2_2 {
    width:                    320px;
    height:                   350px;
    background-color:#f1efe3;
    float:                    left;
    margin-top:               60px;
    margin-left:              20px;
}

/*分区con_2_2中的图片——荣誉墙，浮动布局*/
section#photo_4 {
    height:                   40px;
    width:                    220px;
    float:                    left;
    background:               url(../images/honor.png) no-repeat;
    margin-left:              50px;
    margin-top:               10px;
}

/*盒模型布局，存放文字内容——曾获得的荣誉*/
section#honor {
    border-color:             white;
    border-width:             1px;
    border-style:             dashed;
    background-color:         #a7cece;
    padding:                  5px;
    margin-top:               75px;
    margin-left:              10px;
    margin-right:             10px;
    font-size:                95%;
}

/*container_2的分区con_2_3，浮动布局*/
div#container_2 div.inner div#con_2_3 {
    width:                    320px;
    height:                   350px;
    background-color:         #f1efe3;
    float:                    left;
    margin-top:               60px;
    margin-left:              20px;
}

/*分区con_2_3中的图片——座右铭，浮动布局*/
section#photo_5 {
    height:                   40px;
    width:                    220px;
    float:                    left;
    background:               url(../images/sayings.png) no-repeat;
    margin-left:              75px;
    margin-top:               10px;
}

/*盒模型布局，用于存放文字内容——我的座右铭*/
section#sayings {
    border-color:             white;
    border-width:             1px;
    border-style:             dashed;
    background-color:         #a7cece;
    padding:                  5px;
    margin-top:               75px;
    margin-left:              10px;
    margin-right:             10px;
    font-size:                95%;
}

/*定位布局，固定定位,用于存放各个页面的提示标签*/
#label {
    position:                 fixed;
    top:                      100px;
    left:                     50px;
}

/*页脚*/
footer {
    height:                   100px;
    background:               rgb(115, 172, 219);
    line-height:              70%;
    text-indent:              2em;
    width:                    100%;
}

/*con_1_2中的表格——个人简历表*/
div#container_1 div.inner div#cont_1_2 table {
    margin-left:              20px;
    margin-right:             20px;
    margin-top:               10px;
    margin-bottom:            20px;
    border:                   thin solid black;
    caption-side:             top;
    border-collapse:          collapse;
}

/*表格内的行*/
td {
    border:                   thin dotted gray;
    padding:                  5px;
}

/*表格名称*/
caption {
    font-style:               italic;
    padding-bottom:           8px;
}

/*表格内文字居中*/
.center {
    text-align:               center;
}

/*公共类，表格颜色*/
.cellcolor {
    background-color:         rgb(115, 172, 219);
}

/*公共类，表格颜色*/
.cellcolor2 {
    background-color:         rgb(31, 69, 218);
}

/*页面——成长经历：内容区container_3*/
div#container_3 {
    height:                   900px;
    background:               rgb(115, 172, 219);
    padding-top:              25px;
}

/*内容区container_3的分区cont_3_1*/
div#container_3 div.inner div#cont_3_1 {
    background:               url(../images/grow.jpg) no-repeat;
    height:                   700px;
}

/*内容区container_3的分区cont_3_2*/
div#container_3 div.inner div#cont_3_2 {
    background:               rgb(115, 172, 219);
    height:                   200px;
}

/*盒模型布局，用于存放文字内容——对成长的感慨*/
section#emotion {
    border-color:             #33a6c6;
    border-width:             1px;
    border-style:             dashed;
    background-color:         #33a6c6;
    padding:                  5px;
    padding-right:            140px;
    margin-top:               20px;
    margin-left:              20px;
    margin-right:             20px;
    text-indent:              2em;
    background-image:         url(../images/grow2.png);
    background-repeat:        no-repeat;
    background-position:      right;
}

/*页面——成长经历：内容区container_4，底部线条分割内容区和页脚*/
div#container_4 {
    height:                   540px;
    background:               rgb(115, 172, 219);
    padding-top:              20px;
    border-bottom:            6px solid #0a4223;
}

/*内容区container内的区域cont_4_1，存放表格——成长经历表*/
div#container_4 div.inner div#cont_4_1 {
    background:               #f1efe3;
    height:                   540px;
}

/*页面——兴趣爱好：定位布局，绝对定位，展示图片——主持现场照*/
section#hobby1 {
    position:                 absolute;
    height:                   420px;
    width:                    245px;
    margin:                   20px 600px 600px 250px;
    background:               url(../images/hobby.jpg) no-repeat center 110px;
    background-color:         #f1efe3;
    text-align:               center;
}

/*页面——兴趣爱好：定位布局，绝对定位，有向箭头*/
section#next2 {
    position:                 absolute;
    height:                   500px;
    width:                    500px;
    margin:                   250px 310px;
    background:               url(../images/next2.png) no-repeat center;
}

/*页面——兴趣爱好：定位布局，绝对定位，展示图片——主持现场照*/
section#hobby2 {
    position:                 absolute;
    height:                   460px;
    width:                    550px;
    margin:                   590px 500px;
    background:               url(../images/hobby1.png) no-repeat center 60px;
    background-color:         #f1efe3;
    text-align:               center;
}

/*页面——兴趣爱好：定位布局，绝对定位，展示图片——主持现场照*/
section#hobby3 {
    position:                 absolute;
    height:                   420px;
    width:                    245px;
    margin:                   20px 1000px;
    background:               url(../images/hobby2.jpg) no-repeat center 90px;
    background-color:         #f1efe3;
    text-align:               center;
}

/*页面——兴趣爱好：定位布局，绝对定位，有向箭头*/
section#next3 {
    position:                 absolute;
    height:                   400px;
    width:                    245px;
    margin:                   390px 900px;
    background:               url(../images/next3.png) no-repeat;
}

/*页面——兴趣爱好：定位布局，绝对定位，展示图片——主持现场照*/
section#hobby4 {
    position:                 absolute;
    height:                   450px;
    width:                    270px;
    margin:                   1200px 680px;
    background:               url(../images/hobby3.jpg) no-repeat center 90px;
    background-color:         #f1efe3;
    text-align:               center;
}

/*页面——兴趣爱好：定位布局，绝对定位，有向箭头*/
section#next4 {
    position:                 absolute;
    height:                   255px;
    width:                    255px;
    margin:                   1000px 500px;
    background:               url(../images/next2.png) no-repeat;
}

/*页面——兴趣爱好：盒模型布局，用于存放文字内容——对爱好的感慨*/
section#me {
    border-color:             #33a6c6;
    border-width:             1px;
    border-style:             dashed;
    background-color:         #33a6c6;
    width:                    1000px;
    height:                   200px;
    position:                 absolute;
    margin:                   1700px 250px;
    text-indent:              2em;
    font-size:                larger;
    line-height:              200%;
}

/*用于页面——兴趣爱好中页脚绝对定位的类*/
footer#bottom {
    position:                 absolute;
    margin-top:               1920px;
    border-top:               6px solid #0a4223;
}

/*用于页面——兴趣爱好和页面——更多咨询中生成页脚顶线分割内容区*/
footer#bottom1 {
    border-top:               6px solid #0a4223;
}

/*页面——更多咨询：背景板颜色加深同网页主体区分*/
div#total {
    margin-top:               20px;
    height:                   1500px;
    width:                    1000px;
    background-color:         #33a6c6;
}

/*页面——更多咨询：标题*/
h1 {
    font-size:                120%;
    color:                    rgb(18, 24, 130);
    text-align:               center;
    padding-top:              20px;
}

/*页面——更多咨询：表单格式*/
form {
	display:                  table;
	padding:                  10px;
    margin-left:              290px;
	border:                   thin dotted #268d7f;
	background-color:         #2f5a97;
}

/*表单*/
div.tableRow {
	display:                  table-row;
}

/*表单内文字排布*/
div.tableRow p {
	display:                  table-cell;
	vertical-align:           top;
	padding:                  3px;
}

/*表单内文本右对齐*/
div.tableRow p:first-child {
	text-align:               right;
}

/*文字加深类*/
p.heading {
	font-weight:              bold;
}

/*内容区，放置图片*/
section#consul {
    height:                   1000px;
    width:                    1000px;
    background:               url(../images/zixun.jpg) no-repeat center 30px;
}